.vscode/
node_modules/

addon/**/build/*
!addon/**/build/Release/
addon/**/build/Release/*
!addon/**/build/Release/*.node

exe/rs/*.lock
exe/rs/target/*
!exe/rs/target/release/
exe/rs/target/release/*
!exe/rs/target/release/*.exe
exe/py/build/

exe/py/*.spec

wasm/wasi/wasi-sdk*
wasm/wasi/*.txt
