.vscode/
node_modules/
package-lock.json

addon/**/build/*
!addon/**/build/Release/
addon/**/build/Release/*
!addon/**/build/Release/*.node

addon/napi-rs/target/

Cargo.lock
**/rs/target/*
!**/rs/target/release/
**/rs/target/release/*
!**/rs/target/release/*.exe
!**/rs/target/release/*.dll

*.spec
**/py/build/

wasm/wasi/wasi-sdk*
wasm/wasi/*.txt
